html{
  display: block;
  margin: 0;
  cursor: pointer;
  background: pink;
  background-image: url("https://i.pinimg.com/564x/fa/7a/18/fa7a18eeae5533f2044998e7f58048e7.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: auto;
 image-rendering: crisp-edges;



}

.title{
  font-size: 40px;
  font-family: sans-serif;
  color: #3b3b3b;
}

.Info{
  font-size: 18px;
  font-family: sans-serif;
  background: white;
  opacity: 0.7;
  border-radius: 6px;
  padding: 10px 5px;
  color: #3b3b3b;
  padding-top: 10px;
  margin-left: 19%;
  margin-right: 19%;
}

.recipeImage{
  height: 300px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;



}

@media (min-width: 900px)
body {
  padding: 36px;
  background: pink;
  cursor: pointer;

}

@media (min-width: 768px)
body {
  padding: 30px;
  background: pink;
  cursor: pointer;

}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  line-height: 1;
  font-weight: normal;
  margin: 0 auto .5em auto;
  color: #3b3b3b;
  padding-top: 65px;
  padding-bottom: 30px;
}

article{
  color: #3b3b3b;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 25px;
  padding: 13px 30px;
  margin-left: 19%;
  margin-right: 19%;
  background: white;
  letter-spacing: 0.19em;
  opacity: 0.5;

}

.searchBar{
  text-align: center;
  font-family: sans-serif;
  padding-top: 4%;
  cursor: pointer;
  font-family: sans-serif;
}

.search{
  width: 275px;
  height: 30px;
  font-size: 15px;
}
#button:hover{
 color: pink;
}

#button{
  width: 55px;
  height: 15em;
  font-size: 35px;
  padding: 50px 0;
}

.tooltip {
  position: relative;
  display: center;

}

.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: pink;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-stretch: condensed;
  font-size: 13px;
  margin-right: -55px;
}

  #tooltip:hover .tooltiptext {
  visibility: visible;
}


.dropbtn {
  background-color: #3b3b3b;
  opacity: 0.7;
  color: white;
  border-radius: 6px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: pink;
}
/* styling content of dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  opacity: 0.5;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  color: pink;
  text-decoration: underline;
}
/* now need to show the dropdown menu */
.show {display:block;}


.recpies a{

  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  color: black;
  opacity: 0.7;
  margin: 0 auto

  display: flex;

}

li{
  text-align: center;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-top: 8px;
}

.recpies a:hover{
  text-decoration: underline;
  color: pink;

}
