* { margin:0; padding:0; box-sizing:border-box; }
header{
	text-align:center;

}
body {
	background-color: #E5FCF5;
	background: ;
	background-size: cover;

}
input[placeholder="your email"]{
	border:0;
	padding:10px;
	font-size:11px;
	color:grey;
}
article{
	width:250px;
	padding:7px;
	margin:1 auto;
	text-align:left;
	color:black;
	background:white;
}
h1 {
	color: #210124;
	font-size:40px;
	text-align:center;
	font-style: bold;
	font-family: Arrus BT;
}

#main{
	@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Barlow|Heebo);
	font-family: 'Heebo', sans-serif;
}
p{
	color: #210124;
	font-size:18px;
	text-align:left;
	@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Barlow|Heebo);
	font-family: 'Barlow', sans-serif;
	}
#slogan{
	font-weight:bold;
}	
h2{
	color: #210124;
	font-size:20px;
	text-align:center;
	font-style:normal;
	@import url(https://fonts.googleapis.com/css?family=Abel|Archivo+Narrow|Francois+One|Heebo);
	font-family: 'Archivo Narrow', sans-serif;
}
h3{
	@import url(https://fonts.googleapis.com/css?family=Abel|Archivo+Narrow|Francois+One|Heebo);
	font-family: 'Archivo Narrow', sans-serif;
}
nav{
	@import url(https://fonts.googleapis.com/css?family=Abel|Archivo+Narrow|Francois+One|Heebo);
	font-family: 'Archivo Narrow', sans-serif;
}
form{
	@import url(https://fonts.googleapis.com/css?family=Abel|Archivo+Narrow|Francois+One|Heebo);
	font-family: 'Archivo Narrow', sans-serif;
}
img{
	text-align:center;
	font-size:20px;
	width:300px;
	height:200px;
}
ul{
	padding:0px,15px,0px,15px;
}
li{
	display:inline;
	padding:0px,30px, 0px, 30px;
}
