* { margin:0; padding:0; box-sizing:border-box; }
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Barlow|Heebo);
body {
	background-color: #E5FCF5;
	
	background-size: cover;

}
header{
	text-align:center;
	background-color:#FFED74;
	border:1px black solid;
	padding:20px;

}
nav{
	background-color:#E8C66A;
	border:1px black solid;
	padding:20px;
}

input[placeholder="your email"]{
	border:0;
	padding:10px;
	font-size:11px;
	color:grey;
}
.description1.description2.description3.description4.description5.description6.description7.description8.{
	width:30%;
	margin:1 auto;
	text-align:center;
	color:black;
	background:white;
	box-sizing: border-box;
	background-color:#E89C6C;
	border:1px black solid;
	padding:20px;
}
footer{
	background-color:#FF957E;
	border:1px black solid;
	padding:20px;
}
.wrapper.one.two.three.four.five.six.seven.eight#info{
	background-color:#FFE2B8;
	border:1px black solid;
	padding:20px;
}

.top{
	background-color:#E8C66A;
	border:1px black solid;
	padding:20px;
}
h1{
	color: #210124;
	font-size:40px;
	text-align:center;
	font-style: bold;
	font-family: Arrus BT;
}

.first{
	font-family: 'Heebo', sans-serif;
}
p{
	color: #210124;
	font-size:18px;
	text-align:left;
	font-family: 'Barlow', sans-serif;
	margin-bottom:1em;
	}
.slogan{
	font-weight:bold;
}	
h2{
	color: #210124;
	font-size:20px;
	text-align:center;
	font-style:normal;
	font-family: 'Archivo Narrow', sans-serif;
}
h3, nav, form{
	font-family: 'Archivo Narrow', sans-serif;

img{
	text-align:center;
	font-size:20px;
	width:50%;
	height:;
}
ul{
	padding:0px 15px 0px 15px;
}
li{
	display:inline;
	padding:0px 30px 0px 30px;
}
